.sidebarImg
{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    object-fit: cover;
    margin-bottom: 10px;
    margin-left: 0;
}
.sidebarFriend
{
    list-style: none;
    display: flex;
    align-items: center;
}
.sidebarFriendName
{
    margin-left: 10px;
    margin-bottom: 10px;
}