.shareTop
{
    display: flex;
    align-items: center;
    
}
.shareWrapper
{
    height: 100px;
    width: 87%;
  
    border-radius: 5px;-webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    padding: 20px;
    justify-content: center;
    margin-bottom: 10px;
}

.shareProfieImg
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.shareInput
{
    width: 80%;
    height: 30px;
    margin-left: 10px;
    border-radius: 10px;
    border: none;
}
.shareInput:focus
{
    outline: none;
}
.shareOptions
{
    display: flex;
    margin-left: 20px;
}
.shareOption{
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}
.shareIcon{
    font-size: 18px;
    margin-right: 3px;
    padding: 4px;
}

.shareOptionText{
    font-size: 16px;
    font-weight: 500;
}
.shareButton
{
    border: none;
    background-color: green;
    color: white;
    padding:7px;
    margin-left: 100px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}
